#skills
    flex-direction: column !important
    padding: 20px

.s-row
    display: flex
    justify-content: center
    align-items: center
    gap: 5vw
    // background-color: orange
    height: 50%
    width: 100%

.s-col
    display: flex
    justify-content: center
    align-items: center
    width: 30%
    height: 75%
    cursor: pointer
    border: 5px solid white
    border-radius: 16px
    background-size: 50%
    background-position: center
    background-repeat: no-repeat
    p
        font-size: 5rem

.s-row:first-child
    .s-col:nth-child(1)
        background-image: url("../../img/skill.png")
    .s-col:nth-child(2)
        background-image: url("../../img/technical-support.png")

.s-row:last-child
    .s-col
        background-image: url("../../img/speak.png")

#softskills, #hardskills, #languages
    position: relative

.softskill-list
    ul
        display: flex
        justify-content: center
        gap: 10vw
        list-style-type: none
    .part
        display: flex
        flex-direction: column
        gap: 4vh
        li
            font-size: 2em
            transition: .5s
            user-select: none
            &:hover
                color: red


.hs-container
    display: flex
    gap: 5vw
.hardskill-element
    display: flex
    position: relative
    justify-content: space-between
    align-items: center
    gap: 2vw
.hs-col
    display: flex
    flex-direction: column
    gap: 2vh
.hardskill-name
    font-size: 1.4em



.ss-prev
    font-size: 2em
    position: absolute
    top: 50px
    left: 50px
    cursor: pointer

@media screen and (max-width: 1550px)
    #skills
        gap: 0vh
        .s-row
            flex-direction: column
            height: 40%
            justify-content: center
            .s-col
                width: 40%
                height: 40%
                p
                    font-size: 2em

@media screen and (max-width: 1220px)
    .hs-container
        flex-direction: column

@media screen and (max-width: 800px)
    .softskill-list
        ul
            gap: 5vw
        .part
            li
                font-size: 1.4em
@media screen and (max-width: 410px)
    #skills
        .s-row
            height: 60%
            .s-col
                width: 80%
                height: 60%
    .softskill-list
        ul
            flex-direction: column
            gap: 4vh
    .hardskill-element
        flex-direction: column