#background
    position: relative
    justify-content: space-around !important
    .b-col
        cursor: pointer
        user-select: none
        height: 40%
        width: 30%
        display: flex
        justify-content: center
        align-items: center
        // background-color: green
        border: 5px solid white
        border-radius: 16px
        background-repeat: no-repeat
        background-position: center
        background-size: 60%
        p
            font-size: 4rem
    .b-academic
        background-image: url("../../img/student.png")
    .b-professional
        background-image: url("../../img/work.png")
    .education-schoolname
        font-style: italic

    .ba-container
        height: 100%
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        gap: 8vw

#academic
    .ac-container
        display: flex
        flex-direction: column
        gap: 5vh
        border: 5px solid white
        border-radius: 16px
        .education-container
            text-align: center
            padding: 2vh 2vw
            border-collapse: collapse
            &:last-child, &:nth-child(2), &:nth-child(3)
                border-top: 5px solid white
        .education-namedegree
            color: red

@media screen and (max-width: 1550px)
    #background
        .b-col
            width: 30%
            height: 40%
            p
                font-size: 2.5em

@media screen and (max-width: 800px)
    #background
        .b-col
            width: 30%
            height: 20%
            p
                font-size: 1.8em

@media screen and (max-width: 410px)
    .ba-container
        flex-direction: column
    #background
        .b-col
            width: 80%
            height: 40%
    #academic
        .ac-container
            border: none
        .education-container
            &:last-child, &:nth-child(2), &:nth-child(3)
                border-top: none